:host {
  display: block;
}

.movie-list.list-md {
  background: transparent;
  padding: 0;
}

.item.in-list {
  margin: 1rem;
  max-height: 15rem;

  --padding: 0;
}

.item img {
  height: 15rem;
  width: auto;
}